<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    id        = "com.phonegap.mcfa"
    version   = "1.0.0">

<name>Catalogo Murillo</name>

<description>
Catalogo de Productos con PhoneGap</description>

<author href="" email="">
Francisco Murillo
</author>
<icon src="images/e-comercio.png" gap:density="hdpi" gap:platform="android" />
<icon src="images/e-comercio.png" gap:density="ldpi" gap:platform="android" />
<icon src="images/e-comercio.png" gap:density="mdpi" gap:platform="android" />
<icon src="images/e-comercio.png" gap:density="xhdpi" gap:platform="android" />

<gap:plugin name="org.apache.cordova.dialogs" />
<preference name="phonegap-version" value="3.3.0" />
</widget>
